.my_contacts{
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

.icon-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    margin-top: 26px;
    color: white;
}

.icon-link{
    margin-left: 24px;
    color: white;
    text-decoration: none;
}

.first-link{
    margin-left: 6px;
}

.icon-link:hover,
.icon:hover{
    color: #fb6d3a;
}